.Project1 {
    margin-top: 0;
}

.Project1_container {
    margin-top: 7rem;
}

/* brief section */
.neighbour_title_image {
    width: 30%;
    height: auto;
}

.Project1_brief {
    display: grid;
    grid-template-columns: 60% 40%;
    position: relative;
    left: -12.5vw;
    height: auto;
    background-color: #ffee0026;
    border: 2px solid;
    border-color: #c1a06800;
    color: var(--color-box);
    margin: 0;
    padding: 0;
    width: 100vw
}

.Project1_brief_img {

    width: 60%;
    height: auto;
    margin-left: 6%;

}


.brief {
    margin-left: 15rem;
    margin-top: 0rem;
    padding-top: 2rem;
}

.Project1_container h2 {
    padding-top: 0%;
    margin-top: -4rem;
    padding-bottom: 5%;
    font-size: 1.8em;
}




/* research section */
.Project1_homelessLink h4 {
    text-align: center;
    font-size: 1rem;
}

.Project1_homelessLink_image {
    width: auto;
    height: 60%;
    display: block;
    margin: 0;
}



.features {
    display: grid;
    grid-template-columns: 50% 50%;
    padding-top: 3rem;
    margin-left: 15rem;
    margin-right: 15rem;
    font-size: 0.8rem
}

.caf_container {
    background-color: #ffee0026;
    border: 2px solid;
    border-color: #c1a06800;
    color: var(--color-box);
    padding-bottom: 0rem;
    justify-content: flex-start;
    position: relative;
    left: -12.5vw;
    width: 100vw;
}

.caf_container h5 {
    margin-bottom: 0;
    font-size: 1rem;
    text-align: center;
    text-decoration-line: underline;
}


.caf_container p {
    margin-top: .5;
    text-align: left;
}

.caf_container2 {
    width: 100vw;
    height: auto;
    justify-content: start;
}


/* .cacontainer{
    display: flex;
    
} */

.competitoranalysis1_img {
    margin-top: -5;
    width: 65%;
    height: auto;
    display: block;
    margin: auto;
    transition: transform 1s ease;
}

.competitoranalysis2_img {
    width: 65%;
    height: auto;
    display: block;
    margin: auto;
    transition: transform 1s ease;
}

.Project1_homelessLink_image {
    height: auto;
    display: block;
    margin: auto;
    transition: transform 1s ease;

}

.red_route_analysis h5 {
    font-size: 1.8em;
    text-align: center;
    text-decoration-line: underline;
}

.participants {
    width: 70%;
    height: auto;
    display: block;
    margin: auto;
}

.RRA_container {
    display: grid;
    grid-template-columns: 50% 50%;
    margin: auto;
}

.participants_data {
    width: 100%;
    height: auto;
    display: block;
    margin: auto;
}

.red_route_table {
    width: 93%;
    height: auto;
    display: block;
    margin: auto;
}

.red_route_analysis p {
    text-align: left;
}

.red_route_analysis {
    border-radius: 1rem;
    background: transparent;
    padding: 2% 2% 2% 2%;
    border: 1px solid;
    border-color: #EB853B;
    font-size: .8rem;
    color: var(--color-box);
    margin-top: 5rem;
}

.Survey_container h5 {
    padding-top: 0%;
    padding-bottom: 0%;
    margin-top: 2%;
    font-size: 1.2rem;
    text-align: center;
    text-decoration-line: underline;
}

.Survey_container {
    margin-top: 5rem;
    width: 96%;
    padding-bottom: 4rem;
    display: block;
    align-items: center;
    border-radius: 1rem;
    background: #ffebd4;
    padding: 2% 2% 2% 2%;
    color: var(--color-box);
    border: 1px solid;
    border-color: #EB853B;
}

.video1 {
    border-radius: 1rem;
    margin-bottom: 8%;
}


.responses {
    width: 80%;
    height: auto;
    display: block;
    padding-bottom: 2rem;
}

.Response1 {
    width: 60%;
    height: auto;
    display: block;
    margin: 0 auto;
    margin-top: 3rem;
    border-radius: 1rem;
}

.Response2 {
    width: 60%;
    height: auto;
    display: block;
    border-radius: 1rem;
    margin: 0 auto;
    margin-bottom: 3rem;
    margin-top: 1rem;
}

.Response3 {
    width: 60%;
    height: auto;
    display: block;
    border-radius: 1rem;
    margin: 0 auto;
    margin-top: 1rem;
}

.Response4 {
    width: 60%;
    height: auto;
    display: block;
    border-radius: 1rem;
    margin: 0 auto;
    margin-top: 2rem;
}

.Response5 {
    width: 60%;
    height: auto;
    display: block;
    border-radius: 1rem;
    margin: 0 auto;
    margin-bottom: 3rem;
}

.finding {
    color: var(--color-box);
    font-size: .8rem;
    margin-top: 5rem;
    padding-bottom: 5rem;
    position: relative;
    left: -12.5vw;
    width: 100vw;
    height: auto;
    background-color: transparent;
    border: 1px solid#829aaa9e;
    border-bottom: #829aaa9e;
    color: var(--color-box);
    margin: 5rem 0rem 0rem 0rem;

}

.Card_sorting {
    position: relative;
    left: -12.5vw;
    width: 100vw;
    height: auto;
    background-color: transparent;
    border: 1px solid#829aaa9e;
    border-style: #829aaa9e;
    color: var(--color-box);
    margin: 0rem 0rem 5rem rem;
    margin-top: 0rem;
    padding-bottom: 5rem;
    padding: 0rem 0rem 0rem rem;
}

.Card_sorting1 h5 {
    padding-top: 0%;
    font-size: 1.8em;
    text-align: center;
}

.Card_sorting1 p {
    text-align: left;
    padding: 0% 20% 0% 20%;
}

.Card_sorting2 {
    display: grid;
    grid-template-columns: 50% 50%;
    gap: 0;
}

.card_sorting_image1 {
    width: 60%;
    height: auto;
    margin: 0% 0% 0% 35%;
}

.card_sorting_image2 {
    width: 70%;
    height: auto;
    margin: 0;
    align-content: flex-start;
    margin-top: 0.5rem;
}

.Crazy8 h5 {
    padding-top: 0%;
    font-size: 1.2rem;
    text-align: center;
    color: var(--color-box);
    text-decoration-line: underline;
}

.Crazy8 p {
    text-align: left;
}

.Crazy8 {
    margin-top: 5rem;
    width: 96%;
    padding-bottom: 4rem;
    display: block;
    align-items: center;
    border-radius: 1rem;
    background: #c8e1f2;
    padding: 2% 2% 2% 2%;
    color: var(--color-box);
}

.ideation_container {
    display: grid;
    grid-template-columns: 33% 33% 33%;
    margin: auto;
    padding-bottom: 3%;
}

.homepage {
    width: 63%;
    height: auto;
    display: block;
    margin: 0% 20% 0% 50%;
}

.volunteer {
    width: 60%;
    height: auto;
    display: block;
    margin: 0% 0% 0% 25%;
}

.help {
    width: 60%;
    height: auto;
    display: block;
    margin: 0% 0% 0% 0%;
}

.lowfidelitywireframe_container {
    position: relative;
    left: -12.5vw;
    width: 100vw;
    height: auto;
    background-color: transparent;
    border: 1px solid#829aaa9e;
    border-top: #829aaa9e;
    color: var(--color-box);
    margin: 0rem 0rem 5rem rem;
    margin-top: 0rem;
    padding-bottom: 5rem;
    padding: 0rem 0rem 0rem rem;
}

.lowfidelitywireframe_container h5 {
    padding-top: 5%;
    font-size: 1.2rem;
    text-align: center;
    color: var(--color-primary);
    text-decoration-line: underline;
}

.lowfidelitywireframe_container p {
    text-align: left;
    padding: 0% 15% 0% 15%;
    font-size: .8rem;
    color: var(--color-box);

}

.lowfidelitywireframe_image1 {
    width: 18%;
    height: auto;
    display: block;
    margin: auto;
}

.lowfidelitywireframe_image2 {
    width: 55%;
    height: auto;
    margin: 0% 0% 10% 40%;
}

.lowfidelitywireframe_image3 {
    width: 60%;
    height: auto;
    margin: 0% 0% 10% 0%;

}

.lowfidelitywireframe_container2 {
    grid-template-columns: 50% 50%;
    display: grid;
}

.midfidelitywireframe_container h5 {
    padding-top: 0%;
    font-size: 1.2rem;
    text-align: center;
    color: var(--color-primary);
    text-decoration-line: underline;
}

.midfidelitywireframe_container p {
    text-align: center;
    padding: 0% 15% 0% 15%;
    font-size: .8rem;
    color: var(--color-box);

}

.highfidelitywireframe_container h5 {
    padding-top: 0%;
    font-size: 1.2rem;
    text-align: center;
    color: var(--color-primary);
    text-decoration-line: underline;
}

.highfidelitywireframe_container p {
    text-align: center;
    padding: 0% 15% 0% 15%;
    font-size: .8rem;
    color: var(--color-box);

}

.Project1_image21 {
    width: 120%;
    height: auto;
    margin-left: -5rem;
}

.Project1_image22 {
    width: 115%;
    height: auto;
    margin-left: -5rem;
}

.uiphase_container p {
    margin: 0% 0% 0% 0%;
    padding-right: 15%;
    font-size: .8rem;
    color: var(--color-box);
}

.ui3 {
    display: grid;
    grid-template-columns: 40% 60%;
    gap: 0rem;
}


.ui2 {
    display: grid;
    grid-template-columns: 60% 40%;
    gap: 0rem;
    align-items: center;
}

.Ideationphases {
    transition: transform 1s ease;
}

.Ideationphases:hover {
    transform: scale(2);
}

.Colourchecker {
    width: 60%;
    height: auto;
    padding-left: 4rem;
    transition: transform 1s ease;
    border-radius: 1rem;
}

.Colourchecker:hover {
    transform: scale(1.05);
}

.ideation {
    grid-template-columns: 50% 50%;
    display: grid;
}

.conclusion {
    border-radius: 1rem;
    background: #106a8d00;
    padding: 2% 2% 2% 2%;
    border: 1px solid;
    border-color: #EB853B;
    font-size: .8rem;
    color: var(--color-box);
    margin-top: 5rem;

}

video {
    width: 50%;
    height: auto;
    align-items: center;
    margin: auto;
    display: flex;

}
@media screen and (max-width: 1024px){
    .Project1.container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .brief{
        margin-left: 0rem;
    }

    .Project1_brief {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 80%;
        margin: 0 auto;
        /* Center the container horizontally and remove any margin */
        left: 0vw;
    }

    .Project1_brief_img {
        width: 100%;
        /* Make the image take full width */
        max-width: 300px;
        /* Set a maximum width for the image */
        margin-top: 1rem;
        /* Add some top margin for spacing */
    }

    .Research {
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .features {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        /* Make the width full for smaller screens */
        padding-top: 0rem;
        margin-left: 0;
        /* Adjust as needed */
        margin-right: 0;
        /* Adjust as needed */
    }

    .caimages,
    .caf_container2 {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        width: 100%;
        /* Make the width full for smaller screens */
    }

    /* Make images fill the container width */
    .competitoranalysis1_img,
    .competitoranalysis2_img,
    .Project1_homelessLink_image {
        width: 100%;
        max-width: 300px;
        /* Set a maximum width for the images */
        margin-top: 1rem;
        /* Add some top margin for spacing */
    }

    /* Reset the positioning and margins for the .caf_container */
    .caf_container {
        position: static;
        width: 100%;
        left: 0;
        margin-left: 0;
        margin-right: 0;
    }

    .finding,
    .Card_sorting,
    .lowfidelitywireframe_container {
        left: -7vw;
    }

    .uiphase_container {
        display: flex;
        flex-direction: column;
    }

  
    .uiphase_container>h5 {
        margin-top: 2rem;
        font-size: 1rem;
        text-align: center;
    }

    .uiphase_container>div {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .uiphase_container img {
        width: 80%;
        height: auto;
        border-radius: 1rem;
        margin-top: 1rem;
        padding-left: 0;
    }

    .Ideationphases {
        width: 80%;
        height: auto;
        border-radius: 1rem;
        margin-top: 1rem;
    }

    .ui2 p{
        text-align: center;
        padding-right: 0%;
    }
    .ui3 p{
        text-align: center;
        padding-right: 0%;
        margin-top: 1yrem;
    }

    .Project1_image21 {
        width: 100%;
        height: auto;
        margin-left: 0;
    }

    .Project1_image22 {
        width: 100%;
        height: auto;
        margin-left: 0;
    }
}


@media screen and (max-width: 600px) {

    .Project1.container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .Project1_brief {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 80%;
        text-align: center;
        margin: 0 auto;
        /* Center the container horizontally and remove any margin */
        left: 0vw;
    }

    .Project1_brief_img {
        width: 100%;
        /* Make the image take full width */
        max-width: 300px;
        /* Set a maximum width for the image */
        margin-top: 1rem;
        /* Add some top margin for spacing */
    }

    .Research {
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .features {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        /* Make the width full for smaller screens */
        padding-top: 0rem;
        margin-left: 0;
        /* Adjust as needed */
        margin-right: 0;
        /* Adjust as needed */
    }

    .caimages,
    .caf_container2 {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        width: 100%;
        /* Make the width full for smaller screens */
    }

    /* Make images fill the container width */
    .competitoranalysis1_img,
    .competitoranalysis2_img,
    .Project1_homelessLink_image {
        width: 100%;
        max-width: 300px;
        /* Set a maximum width for the images */
        margin-top: 1rem;
        /* Add some top margin for spacing */
    }

    /* Reset the positioning and margins for the .caf_container */
    .caf_container {
        position: static;
        width: 100%;
        left: 0;
        margin-left: 0;
        margin-right: 0;
    }

    .finding,
    .Card_sorting,
    .lowfidelitywireframe_container {
        left: -5vw;
    }

    .uiphase_container {
        display: flex;
        flex-direction: column;
    }

  
    .uiphase_container>h5 {
        margin-top: 2rem;
        font-size: 1rem;
        text-align: center;
    }

    .uiphase_container>div {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .uiphase_container img {
        width: 80%;
        height: auto;
        border-radius: 1rem;
        margin-top: 1rem;
        padding-left: 0;
    }

    .Ideationphases {
        width: 80%;
        height: auto;
        border-radius: 1rem;
        margin-top: 1rem;
    }

    .ui2 p{
        text-align: center;
        padding-right: 0%;
    }
    .ui3 p{
        text-align: center;
        padding-right: 0%;
        margin-top: 1yrem;
    }

    .Project1_image21 {
        width: 100%;
        height: auto;
        margin-left: 0;
    }

    .Project1_image22 {
        width: 100%;
        height: auto;
        margin-left: 0;
    }

}