/* Importing Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Bungee&family=Cinzel:wght@400..900&family=Lemon&display=swap');


.Project3 {
    margin-top: 0;
}

.Project3_container {
    margin-top: 3rem;
}


.homepagedemo {
    width: 80%;
    height: auto;
    border-radius: 10px;
    justify-content: left;
}

.Project3_brief {
    display: grid;
    grid-template-columns: 60% 40%;
    justify-content: left;
    align-items: center;
    width: 100%;
    height: auto;
    background-color: #e0d7f1;
    border: 1px solid;
    border-color: #c1a06800;
}

.Project3 h2 {
    padding-top: 0%;
    margin-top: 4rem;
    padding-bottom: 2%;
    font-size: 1.8rem;
}


.nhsresearch_container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    border: 2px solid var(--color-bg);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(14, 14, 14, 0.1), 0 0 20px var(--color-bg);
    /* Use --color-bg variable for shadow color */
    display: flex;
    align-items: center;
}


.nhsresearch {
    max-width: 80%;
    height: auto;
    margin: 0 auto;
    /* Centers the container horizontally */
}

.mm-navigation h5 {
    padding-top: 0%;
    padding-bottom: 0%;
    margin-top: 2%;
    font-size: 1.2rem;
    text-align: center;
    text-decoration-line: underline;
}

.mm-navigation {
    margin-top: 5rem;
    width: 96%;
    display: block;
    align-items: center;
    border-radius: 1rem;
    background: #ffebd4;
    padding: 2% 2% 5% 2%;
    color: var(--color-box);
    border: 1px solid;
    border-color: #EB853B;
}

.mm-navigation .swiper-slide p {
    text-align: center;
    font-weight: 500;
}

/* MOOD MONSTER IMAGES AROUND BORDER */

/* z-index - necessary to layer monster images over containers and under text - higher sits on top of lower */

/* .page-wrapper applied to layout.html and layout-pre-login.html to apply monster images */
.page-wrapper {
    flex: 1;
    position: relative;
    /* positions the element relative to its normal position */
    z-index: 0;
    /* sets the stack order of the element */
    margin-bottom: 10rem;
}

/* -------------------------------------------- */

.container,
.container-fluid {
    position: relative;
    /* positions the element relative to its normal position */
    z-index: 1;
    /* sets stack order and ensures it appears above .page-wrapper */
}

.monster-image,
.monster-image-footer {
    position: absolute;
    /* positions the element in an absolute position */
    width: 10vw;
    /* sets the width of the monster images to 20% of the viewport width */
    height: auto;
    /* maintains the aspect ratio of image */
    z-index: 2;
    /* sets stack order and ensures it appears above .container and .container-fluid */
}

.text-content {
    position: relative;
    /* ensures z-index is effective */
    z-index: 3;
    /* highest to ensure it appears above any images - essential for Mood Monsters heading on home page */
}

/* monster image positions */
.top-left {
    top: 0;
    left: 0;
}

.one-third-left {
    top: 42%;
    left: 0;
    transform: translateY(-110%);
}

/* translateY(-50%) used to move the element up by half of its own height for vertical centering - sit too low on screen without */
.two-thirds-left {
    top: 68%;
    left: 0;
    transform: translateY(-30%);
}

.three-thirds-left {
    top: 70%;
    left: 0;
    transform: translateY(-50%);
}

.top-right {
    top: 0;
    right: 0;
}

.one-third-right {
    top: 39%;
    right: 0;
    transform: translateY(-110%);
}

.two-thirds-right {
    top: 70%;
    right: 0;
    transform: translateY(-30%);
}

.three-thirds-right {
    top: 70%;
    right: 0;
    transform: translateY(-50%);
}



.bungee-regular {
    font-family: "Bungee", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.text-content {
    position: relative;
    /* ensures z-index is effective */
    z-index: 3;
    /* highest to ensure it appears above any images - essential for Mood Monsters heading on home page */
}

:root {
    --colour-1: #EF476F;
    /* pink */
    --colour-2: #FFD166;
    /* yellow */
    --colour-3: #06D6A0;
    /* green */
    --colour-4: #118AB2;
    /* blue */
    --colour-5: #6A4C93;
    /* purple - additional colour */
    --colour-6: #FB5607;
    /* orange - additional colour */
    --light: #FDFDFF;
    /* off white */
    --dark: #073B4C;
    /* dark blue */
    --red: #F04A49;
    /* red */
}


/* pink text class */
.colour-1 {
    color: var(--colour-1);
}

/* yellow text class */
.colour-2 {
    color: var(--colour-2);
}

/* green text class */
.colour-3 {
    color: var(--colour-3);
}

/* blue text class */
.colour-4 {
    color: var(--colour-4);
}

/* purple text class */
.colour-5 {
    color: var(--colour-5);
}

/* orange text class */
.colour-6 {
    color: var(--colour-6);
}

/* light for text */
.colour-light {
    color: var(--light);
}

/* dark for text */
.colour-dark {
    color: var(--dark);
}

/* red for ANGRY text */
.colour-red {
    color: var(--red);
}

.monster-text {
    padding: 0 0.5rem;
    /* padding around text - top/bottom is 0 and left/right is 0.5rem (8px) */
    font-size: 1rem;
    /* default font size of root element - 1 rem equals 16px - scalable */
}

h1 {
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
    /* adds a shadow to the text - blur of 2px and 50% transparency of black */
}



/* applied to all section headers eg. VIEW YOUR MOOD DIARY */
.titles {
    text-transform: uppercase;
    /* ensures all text is in capitals */
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.8);
    /* adds a shadow to the text - blur of 1px and 80% transparency of black */
    text-align: center;
    font-size: 2rem;
}


.col-lg-10 h1,
.col-md-8 h1,
.pb-5 h1 {
    font-family: "Bungee", sans-serif;
    font-weight: 400;
    font-style: normal;
}




@media (max-width: 767px) {
    /* Adjustments for smaller screens */


    /* Adjustments for smaller screens */
    .Project3_brief {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        /* Center-align the content */
        width: 100%;
        height: auto;
        background-color: #e0d7f1;
        border: 1px solid;
        border-color: #c1a06800;
        max-width: 90%;
        /* Limit the maximum width of the container */
        margin: 0 auto;
        /* Center the container horizontally */
        padding: 20px;
        /* Add some padding */

    }


    /* Example adjustments */
    .Project3_brief_img {
        width: 100%;
        /* Make the image span the full width of the container */
    }

    /* Example adjustments */
    .videohomepage {
        width: 100%;
        justify-content: center;
        /* Center the video on smaller screens */
    }

    .homepagedemo {
        width: 100%;
        /* Make the video span the full width */
    }

    .nhsresearch_container {
        max-width: 100%;
        /* Make the container span the full width */
    }

    /* Hide the monster images on smaller screens */
    .monster-image {
        display: none;
    }

    .brief {
        width: 100%;
        /* Ensure the text takes full width */
        padding-left: 0;
        /* Remove padding from the left side */
        margin-left: 0;
    }
}