.about__container { 
    display: grid;
    grid-template-columns: 29% 70%;
    margin-bottom: 5rem;
    gap: 0.5rem;
    align-items: center;
}

.about__me {
    background: var(--color-box);
    border-radius: 12rem 12rem 1rem 1rem;
    overflow: hidden;
    padding: 1.5rem 1.5rem 1.5rem 1.5rem;
}

.about__me img{
    border-radius: 12rem 12rem 1rem 1rem;
    transform-origin: center;
    transition: transform 0.9s ease-out;
    margin: 0 auto;
} 

.about__me:hover img {
    transform: scale(1.2);
}

.about__cards {
    display: grid;
    grid-template-columns: repeat(3, 4fr);
    gap: 0.5rem;
}

.about__card {
    border-radius: 1rem;
    border: 2px solid;
    padding: 1.5rem 1rem;
    text-align: center;
    transition: var(--transition);
}

.about__card:nth-child(1),
.about__card:nth-child(3) {
    background-color:   var(--color-blue); 
    border-color: var(--color-blue);
    color:  var(--color-bg-variant);
}
  
.about__card:nth-child(2) {
    background-color:#022B3A; 
    border-color: #022B3A;
    color: var(--color-light);  
} 

.about__card:hover {
    background: transparent;
    border-color: var(--color-primary-variant);
    cursor: default;
    color: var(--color-primary-variant);
}

.about__card:hover h4{
    color: var(--color-primary-variant);
}

.about__card:hover h5{
    color: var(--color-primary-variant);
}

.about__card ul{
    padding-inline-start: 20px;
    list-style-type: disc;
    text-align: left;
}

.about__icon {
    color: var(--color-primary);
    font-size: 1.4rem;
    margin-bottom: 1.5%;
}

.about__card h5 {
    font-size: 0.95rem;
    text-align: left;
    color: var(--color-primary-variant);
}

.about__card:nth-child(1) h5 {
    color: var(--color-bg-variant);
}

.about__card:nth-child(2) h5 {
    color: var(--color-light);
}

.about__card:nth-child(2):hover h5 {
    color: var(--color-primary-variant); /* Replace with the desired hover color */
}

.about__card:nth-child(3) h5 {
    color: var(--color-bg-variant);
}

.about__card small {
    font-size: 0.7rem;
    color: var(--color-primary-variant);
}

/* Media Queries for medium devices */
@media screen and (max-width: 1024px) {
    .about__container {
        grid-template-columns: 1fr;
        gap: 0;
    }

    .about__me {
        width: 50%;
        margin: 2rem auto;
    }

    .about__content p {
        margin: 1rem 0 1.5rem;
    }    
}

/* Media Queries for small devices */
@media screen and (max-width: 600px) {
    .about__me {
        width: 60%;
        margin-top: 1rem;
    }

    .about__cards {
        grid-template-columns: 1fr;
        gap: 2rem;
        justify-content: center;
        padding-right: 0;
        display: flex;
        align-items: center;
        display: flex;
        flex-direction: column;       
    }

    .about__card {
        width: 16rem;      
    }
    
    .about__content {
        text-align: center;
    }

    .about__content p {
        margin: 1.5rem 0;
    }

    .about__me img{
        height: 90%;
        width: 100%;
        border-radius: 10rem 10rem 1rem 1rem;
        transform-origin: center;
        transition: transform 0.9s ease-out;
        margin: 0 auto;
    }
}
