
.about__container { 
    display: grid;
    grid-template-columns: 30% 70%;
    margin-bottom: 5rem;
}

.about__me {
    background: var(--color-box);
    height: 85%;
    width: 80%;
    border-radius: 10rem 10rem 1rem 1rem;
    overflow: hidden;
    padding: 1.7rem 1.5rem 1.5rem 1.5rem;
}

.about__me img{
    height: 100%;
    width: 100%;
    border-radius: 10rem 10rem 1rem 1rem;
    transform-origin: center;
    transition: transform 0.9s ease-out;
    margin: 0 auto;
}
.about__me:hover img {
    transform: scale(1.2);
  }

.about__cards {
    display: grid;
    grid-template-columns: repeat(3, 4fr);
    gap: 0.5rem;
}

.about__card {
    background:var(--color-blue);
    border-radius: 1rem;
    border-color: var(--color-primary-variant);
    padding: 1.5rem;
    text-align: center;
    transition: var(--transition);
    height: 100%;
    width: 80%;
}

.about__card:nth-child(1) {
    background-color:   var(--color-blue); 
    color:  var(--color-bg-variant);
}
  
  .about__card:nth-child(2) {
    background-color:#022B3A; 
    color: var(--color-light);  
}
  
  .about__card:nth-child(3) {
    background-color:  var(--color-blue); 
    color:  var(--color-bg-variant);
  }
  

.about__card:hover {
    background: transparent;
    border-color: var(--color-primary-variant);
    border: 2px solid;
    cursor: default;
    color: var(--color-primary-variant);
}

.about__card:hover h4{
    color: var(--color-primary-variant);
}

.about__card:hover h5{
    color: var(--color-primary-variant);
}

.about__icon {
    color: var(--color-primary);
    font-size: 1.4rem;
    margin-bottom: 1.5%;
}


.about__card h5 {
    font-size: 0.95rem;
    text-align: left;
    color: var(--color-primary-variant);
}

.about__card:nth-child(1) h5 {
    color: var(--color-bg-variant);
}

.about__card:nth-child(2) h5 {
    color: var(--color-light);
}

.about__card:nth-child(2):hover h5 {
    color: var(--color-primary-variant); /* Replace with the desired hover color */
  }
  

.about__card:nth-child(3) h5 {
    color: var(--color-bg-variant);
}

.about__card small {
    font-size: 0.7rem;
    color: var(--color-primary-variant);
}



/* Media Queries for medium devices*/
@media screen and (max-width: 1024px){
    .about__container {
        grid-template-columns: 1fr;
        gap: 0;
    }
    .about__me {
        width: 50%;
        margin: 2rem auto;
    }
    .about__content p {
        margin: 1rem 0 1.5rem;
    }
}

/* Media Queries for small devices*/
@media screen and (max-width: 600px){
    .about__me {
        width: 80%;
        margin: 0 auto;
        margin-top: 1rem;
    }

    .about__cards{
        grid-template-columns: 1fr 1fr;
        gap: 1rem;
    }

    .about__content {
        text-align: center;
    }

    .about__content p {
        margin: 1.5rem 0;
    }
}

