.container.contact__container {
    width: 60%;
    display: grid;
    grid-template-columns: 30% 58%;
    gap: 12%;
    margin-bottom: 4rem;
}


.contact__options {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
}

.contact__option {
    background: var(--color-box);
    padding: 1rem;
    border-radius: 1.2rem;
    text-align: center;
    border: 1px solid transparent;
    transition: var(--transition);
    color: var(--color-primary);
}

.contact__option a {
    text-decoration: none;
}

.contact__option:hover {
    background: transparent;
    border-color: var(--color-primary-variant);
}

.contact__option:hover h3 {
    color: var(--color-primary-variant);
}

.contact__option:hover h4 {
    color: var(--color-primary-variant);
}

.contact__option:hover .icon {
    color: var(--color-primary-variant);
}

.contact__option:hover a {
    color: var(--color-primary);
}



section h4,
h3 {
    color: var(--color-white);
    margin-top: 0rem;
}

.icon {
    color: var(--color-primary);
    font-size: 1.5rem;
}

/* Form */
form {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
}

input,
textarea {
    width: 100%;
    padding: 1.5rem;
    border-radius: 0.5rem;
    background: transparent;
    border: 2px solid var(--color-primary-variant);
    resize: none;
    color: var(--color-primary-variant);
    font-family: 'Poppins', sans-serif;
}

/* Media Queries for medium devices*/
@media screen and (max-width: 1024px) {
    .container.contact__container {
        grid-template-columns: 1fr;
        gap: 2rem;
    }
}

/* Media Queries for small devices*/
@media screen and (max-width: 600px) {
    .container.contact__container {
        width: var(--container-width-sm);
    }
}