.header__container {
    margin: 0 auto;
    height: fit-content;
    margin-bottom: 5%;
    justify-content: center;
    align-items: center;
}

.header__container h4,
h2 {
    margin-top: 1%;
    margin-bottom: 0%;
    top: 0;
    text-align: center;
    font-family: 'Avenir Next', sans-serif;
    color: chocolate;
}

.header__container h2 {
    color: #022B3A;
}

.header__container h1 {
    margin-bottom: 0%;
    text-align: center;
    font-size: 4rem;
    font-family: 'Big Caslon', sans-serif;
    color: #1F7A8C;
}


/*  CTA  */
.cta {
    display: flex;
    gap: 1.2rem;
    justify-content: center;
    margin-top: 2%;
}

.cta a {
    text-decoration: none;
}

/* image */
.me__background {
    width: 34%;
    border-radius: 2rem;
    background: #022B3A;
    display: grid;
    place-items: center;
    margin: 0 auto;
    margin-top: 4.5%;
    margin-bottom: 1rem;
}

.Yulianna {
    width: 28%;
    height: auto;
    margin: 2% auto 2%;
}


.me__image {
    width: 100%;
    height: 100%;
    border-radius: 2rem;
    overflow: hidden;
    transform: rotate(10deg);
    transition: var(transition);

}

.me__image:hover {
    transform: rotate(0deg);
}


/* Media Queries for medium devices*/
@media screen and (min-width: 1024px) {
    .header__container h4,
    h2 {
        margin-top: 1%;
        margin-bottom: 0%;
        top: 0;
        text-align: center;
        font-family: 'Avenir Next', sans-serif;
        color: chocolate;
        font-size: 4rem;
    }
    
    
    .cta a {
        height: 3.5rem;
        width: 16rem;
        text-align: center;
        padding-top: 1.5rem;
        font-size: 2rem;
        border-radius: 1rem;
    }
    
    /* image */
    .me__background {
        width: 27%;
    }
    
    .Yulianna {
        width: 22%;
    }
     
}

/* Media Queries for small devices*/
@media screen and (max-width: 600px) {

    /* image */
    .me__background {
        width: 70%;
        border-radius: 2rem;
        background: #022B3A;
        display: grid;
        place-items: center;
        margin: 0 auto;
        margin-top: 20%;
    }

    .Yulianna {
        width: 50%;
        margin: 2rem auto;
    }


    .me__image {
        width: 100%;
        height: 100%;
        border-radius: 2rem;
        overflow: hidden;
        transform: rotate(10deg);
        transition: var(transition);
    }

    .me__image:hover {
        transform: rotate(0deg);
    }

    .cta {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .cta a {
        text-decoration: none;
        margin: 1rem 0;
    }

    #Header {
        margin-top: 4rem;
    }

    .header__container h4 {
        margin: 4rem auto;
    }
}