footer {
    background: var( --color-blue);
    text-align: right;
    font-size: 1.5rem;
    margin-top: 0.5rem;
    display: grid;
    grid-template-columns: 100%;
    gap: 10%;
    border-radius: 0rem;
}

footer small {
    color: var(--color-bg-variant);
}




.footer__copyright {
    margin-top: .8rem;
    margin-right: 1.5rem;
    margin-bottom: 1rem;
    color: var(--color-bg-variant);
    display: flex;
    flex-direction: column;
    text-align: right;
    font-size: 1rem;
}

/* Media Queries for small devices*/
@media screen and (max-width: 600px){
    .permalinks {
        flex-direction: column;
        gap: 1.5rem;
    }
}