

.experience__container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    margin-bottom: 5rem;
}

.experience__container > div {
    background: var(--color-box);
    padding: 1rem 3rem 4rem 4rem;
    border-radius: 2rem;
    border: 1px solid transparent;
    transition: var(--transition);
}



.experience__container > div:hover {
    background: transparent;
    border: 1px solid var(--color-primary-variant);
    cursor: default;
}

.experience__container > div:hover h3 {
    color: var(--color-primary-variant)
}


.experience__container > div h3 {
    text-align: center;
    color: var(--color-primary);
    padding-top: 2rem;
    padding-bottom: 1rem;
}

.experience__content { 
    display: grid; 
    grid-template-columns: 1fr 1fr; 
    margin-left: 7%;
 }

 .experience__details {
    display: flex;
    gap: 1rem;
    color: var(--color-primary-variant);
 }

 .experience__details h4{
    display: flex;
    gap: 1rem;
    color: var(--color-primary);
    margin-bottom: 1rem;
    margin-top: 1rem;
 }

 .experience__details:hover h4{
    display: flex;
    gap: 1rem;
    color: var(--color-primary-variant);
 }


 .icon {
    margin-top: 9%;
    color: var(--color-primary);
 }

 /* Media Queries for medium devices*/
@media screen and (max-width: 1024px){
    .experience__container{
        grid-template-columns: 1fr;
    }
    .experience__container > div{
        width: 80%;
        padding: 2rem;
        margin: 0 auto;
    }
    .experience__content{
        padding: 1rem;
    }
}

/* Media Queries for small devices*/
@media screen and (max-width: 600px){
    .experience__container{
        gap: 1rem;
    }
    .experience__container > div{
        width: 90%;
        padding: 2rem 1rem;
        margin: 0 auto;
    }
    .experience__content{
        padding: 1rem;
    }
}
 
